<?xml version="1.0"?>
<launch>


  <!-- Set the robot urdf on the parameter server -->
  <param name="robot_description" textfile="$(find arm_dm_description)/urdf/arm_dm_description.urdf" />


  <!-- Load the controller parameters onto the parameter server -->

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="/source_list">[/abb/joint_states]</rosparam>
  </node>
  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
</launch>
